name: Release
on: 
  workflow_dispatch
jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v1
      - name: Branch name
        run: echo running on branch ${GITHUB_REF##*/}
      - name: run number
        run: echo "Build number is ${env:BUILD_NUMBER}"
      - name: Build
        run: docker build -t tedmiston/tag-example:${GITHUB_REF##*/} .
